# Visual Studio 中间产物
.vs/
*.user
*.suo
*.ipch
*.VC.db*
*.VC.opendb

# 构建输出
build/
x64/
Debug/
Release/

# 系统杂项
Thumbs.db
tools\RenderDoc-1.46-CN
JoltPhysics-src


# 天空盒贴图（体积大，不入库）
projects/01-hello-triangle/asset/skybox/